<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Estamos en </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="" routerLinkActive="active">Home</a>
      </li>
      <li><a routerLink="/proyectos">Proyectos</a></li>
      <li><a routerLink="/quien" routerLinkActive="active">Quien Soy</a></li>
      <li><a routerLink="contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
